/*body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}*/

body {
    padding-top: 70px;

    background-color: #d2e6dc;
}

.jumbotron {
    background-image: url("../img/coc.png");
    background-position: center;
    background-size: auto;

    /*color: white;*/
}

.jumbo-spacer.large-spacer {
    min-height: 250px;
}

.jumbo-spacer.small-spacer {
    min-height: 75px;
}