/*body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}*/

body {
    padding-top: 70px;

    background-color: #d2e6dc;
}

.jumbotron {
    background-image: url("../img/coc.jpg");
    background-position: center;
    background-size: auto;

    color: white;
}